@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300");
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', monospace;
}

.logo{
    padding: 15px;
    color: #000;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}
.def, .mobile{
    padding: 30px;
}
.def ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.def ul li{
    float: right;
}
.def ul li a{
    display: block;
    text-align: center;
    color: #000;
    padding: 16px;
    text-decoration: none;
}
.special{
    border: 1px solid #000;
}
.special:hover{
    transition: 0.3s;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.special a {color: #000}
.special a:hover{transition: 0.3s; color: #fff;}




.mobile{
    text-align: right;

}
.dropdown > a{
    padding: 10px;
    color: #000;
    text-decoration: none;

}

.menuiconpls:hover{
    cursor: pointer;
}


.mobileSection{
    text-align: center;
}
.mobileSection li{list-style-type: none;}
.mobileSection li{padding: 15px;}
.mobileSection li a{color: #000000; text-decoration: underline;}
@media screen and (max-width: 800px){
    .def{
        display: none;
    }
    .defaultSection{
        display: none;
    }
    .mobileSection{
        display: block;
    }
    .mobile{
        color: #000;
        display: block;
    }
}