main{
    text-align: center;

}

.main{
    text-align: center;

}
.links > h3 > a{
    color: #000;
}
.links > h3 > a:hover{cursor: pointer;}
.space{height: 60vh;}
#syllabus{
    display: inline-block;
    text-align: left;
    padding: 50px;
    }
#syllabus > ul{
    list-style-type: none;
}

#scheduel{
    display: inline-block;
    text-align: left;
    padding: 50px;
}
#scheduel > ul{list-style-type: none;}
#code{
    display: inline-block;
    text-align:left;
    padding: 50px;
}
#CP{
    display: inline-block;
    text-align:left;
    padding: 50px;
}
#reg{
    display: inline-block;
    text-align:left;
    padding: 50px;   
}

.regbttn{
    color: #fff;
    padding: 15px;
    background-color: #000;
}
.regbttn:hover{
    background-color: #fff;
    color: #000;
    transition: 1s;
    border: 1px solid black;
}