main{
    text-align: center;

}

.main{
    text-align: center;

}
.links > h3 > a{
    color: #000;
}
.links > h3 > a:hover{cursor: pointer;}
.space{height: 100vh;}
#syllabus{
    display: inline-block;
    text-align: left;
    padding: 50px;
    }
#syllabus > ul{
    list-style-type: none;
}

#scheduel{
    display: inline-block;
    text-align: left;
    padding: 50px;
}
#scheduel > ul{list-style-type: none;}
#code{
    display: inline-block;
    text-align:left;
    padding: 50px;
}