@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', monospace;
}
.logo{
    padding: 15px;
    color: #000;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    height: 18vh;
}
.def, .mobile{
    padding: 30px;
}
.def ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.def ul li{
    float: right;
}
.def ul li a{
    display: block;
    text-align: center;
    color: #000;
    padding: 16px;
    text-decoration: none;
}
.special{
    border: 1px solid #000;
}
.special:hover{
    transition: 0.3s;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.special a {color: #000}
.special a:hover{transition: 0.3s; color: #fff;}
.mobile{
    text-align: right;

}
.dropdown > a{
    padding: 10px;
    color: #000;
    text-decoration: none;

}
.menuiconpls:hover{
    cursor: pointer;
}
.mobileSection{
    text-align: center;
}
.mobileSection li{list-style-type: none;}
.mobileSection li{padding: 15px;}
.mobileSection li a{color: #000000; text-decoration: underline;}




.comppage{
    padding: 50px;
    text-align: center;
}
.cview > .registergridcomp{
    display: grid;
    grid-template-rows: 1fr;
}
.cview > .registergridcomp > .options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #000;
    color: #fff;
}
.cview > .registergridcomp > .options:hover{
    transition: 0.5s;
    color: #000;
    background-color: #fff;
    border: 1px solid black;
}
.cview > .registergridcomp > .titles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
}

.cview > .registergridcomp > .options > .container > .center > .book{
    display: flex;
    text-align: center;
    color: #fff;
    
}
.cview > .options:hover > .container > .center > a{
    /**border: 1px solid black;**/
    color: #fff;
    padding: 6px 19px 6px 19px;
    background-color: #000;
    transition: 0.5s;
}
.cview > .registergridcomp > .options > .container {
    position: relative;
      }
  
      .cview > .registergridcomp > .options > .container > .center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  .cview > .contactformoreinfo{
    color: #fff;
}
.cview > .options:hover > .datetime > .contactformoreinfo{
    color: #000;
    transition: 0.5s;
}






@media screen and (max-width: 800px){
    
    
    
    
    
    .def{
        display: none;
    }
    .mobile{
        color: #000;
        display: block;
    }

}

.phonepage{display: none;}
@media screen and (max-width: 800px) {
    .phonepage{display: block;}
    .comppage{display: none;}
    .cview{display: none;}
    .mview{
        display: block;
    }
    .mview > .registergridcomp > .options{
        display: grid;
        place-items: center;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}